.intro-div{
    height: 249px;
    width: 100%;
    background: #211E1E;
    border-radius: 6.08px;

    .intro-header{
        padding: 8px 12px 8px 12px;
        border-bottom: 2px solid #000000;;
        h5{
            font-size: 13px;
            font-weight: 600;

        }

    }
    .intro-body-top{
        display: flex;
        align-items: center;
        padding: 14px 12px 8px 12px;
        justify-content: space-between;
        .intro-body-top-item{
            display: flex;
            column-gap: 20px;
         
            
            img{
                width: 11px;
                height: 11px;
            }
            h5{
                font-weight: 500;
                font-size: 13px;
                color: rgba(255, 255, 255, 0.9);

            }
        }

    }
        .intro-body-social{

            h5{
                padding: 8px 12px 8px 12px;
                font-size: 13px;
                font-weight: 600;

            }

        }
}


@media screen and (max-width: 480px){}