.search-box-holder{

    form{
        .form-control {
            padding-left: 1.9rem;
        }

        position: relative;

        .search-box{
            height: 36px;
            border: 1px solid var(--bs-secondary);
            background: var(--search-box-background);
            border-radius: 24px;

            &:focus{
                border: transparent;
            }
        }
        span{
            position: absolute;
            top: 5px;
            left: 6px;
            color: var(--color-icon);
        }
    }

    input[type=search]{
        &:focus, &:active{
            color: var(--secondary-color);
            border: transparent;
        }
    }
}

@media screen and (max-width: 1025px){
    .search-mobile{
        max-width: 30%;

        .form-control {
            padding-left: 1.7rem !important;
        }
    }
    // input[placeholder=' Search...']{
    //     // font-size: 15px;
    // }
    .me-2 {
        margin: 0 !important;
    }
}