.test-container{
    // margin-left: 16rem;

    .test{
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
    
    
        .side-nav-bar{
            border: solid grey 2px;
            box-sizing: border-box;
            overflow: hidden;
            flex-basis: content;
            // max-width: 260px;
            height: 100vh;
            max-width: 260px;
            flex-basis: auto;
            position: relative;

            .fixed-top-sidemenu {
                display: block;
                top: 0;
                // right: 0;
                left: 0;
                z-index: 1030;
                background: #0D0D0D;
            }
        }
    
        .main-container{
            box-sizing: border-box;
            overflow: hidden;
            position: relative;
            flex: 2;

            .main-div{
                display: flex;

                .main{
                    border: solid grey 2px;
                    box-sizing: border-box;
                    // overflow: hidden;
                    overflow-y: auto;
                    max-height: 100vh;
                
                    flex-basis: auto;
                    // flex: 2;
                    // margin-right: 20.5rem;
                }
            
                .side-adverts{

                    border: solid grey 2px;
                    box-sizing: border-box;
                    overflow: hidden;
                    flex-basis: content;
                    max-width: 327px;
                    height: 850px;
                    // position: fixed;
                    // right: 0;
                    // top: 149px;
                    background: #141414;
                    border-radius: 12px;
                }
            }
        }
    }
}


@supports ( position: sticky){
    .fixed-top-sidemenu {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
    }
}