.test-container{
    // margin-left: 16rem;

    .test{
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
    
    
        .nav-bar{
            border: solid grey 2px;
            box-sizing: border-box;
            overflow: hidden;
            flex-basis: content;
            // max-width: 260px;
            height: 100vh;
            max-width: 260px;
            flex-basis: auto;
            position: relative;
        }
    
        .main-container{
            box-sizing: border-box;
            overflow: hidden;
            position: relative;
            // flex: 2;

            .main-div{
                display: flex;

                .main{
                    border: solid grey 2px;
                    box-sizing: border-box;
                    overflow: hidden;
                    flex-basis: auto;
                    flex: 2;
                }
            
                .side-advert{
                    border: solid grey 2px;
                    box-sizing: border-box;
                    overflow: hidden;
                    flex-basis: content;
                    max-width: 300px;
                }
            }
        }
    }
}
