@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.livestream {
  display: contents !important;
  .tabsandlive {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .tabs {
      display: flex;
      gap: 2rem;
      height: 31px;
      background: var(--livestream-tab);
      border-radius: 5px;
      padding: 3.5px 5px;
      align-self: center;
      margin: auto;

      & > button {
        width: 249px;
        background: inherit;
        border-radius: 4px;
        color: var(--tab-text);
        border: none;
        font-size: 14px;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;

        &.activeTab {
          background-color: #c71f1f;
          color: #fff;
        }

        &:hover {
          transform-origin: top;
          transition: all ease-out 300ms;
        }
      }
    }

    .go-live {
      background: #db242d;
      color: #fff;
      border-radius: 19px;
      display: flex;
      align-items: center;
      padding: 5px;
      cursor: pointer;

      .live-icon {
        background: rgba(33, 31, 31, 0.8);
        border-radius: 50%;
        width: 31.09px;
        height: 31.09px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      p {
        line-height: 0;
        margin: 0 13px;
        font-size: 14px;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
      }
    }
  }

  .trending {
    padding: 1.5rem 0rem 1.5rem 1.5rem;

    h3 {
      font-size: 22px;
      font-weight: 500;
      line-height: 29px;
      margin-left: 0.8rem;
    }

    .trending-slide {
      margin-top: 1.7rem;
      display: flex;
      align-items: center;
      gap: 1.5rem;
      overflow-x: scroll;
      overflow-y: hidden;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .livestream-grid {
    padding: 1.5rem;
    margin-top: 0.7rem;
    margin-bottom: 5rem;

    .live-streaming {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 29px;
      }

      .view-all {
        display: flex;
        align-items: center;
        gap: 2rem;

        p {
          margin: 0;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          color: #db242d;
          cursor: pointer;
        }

        .filter {
          width: 91px;
          height: 29px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          background: rgba(53, 52, 52, 0.66);
          border-radius: 16px;
          color: #d1bfc0;
          p {
            font-family: "Montserrat";
            color: #d1bfc0;
            font-size: 15px;
          }
        }
      }
    }

    .live-grid-items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 1.2rem;
      justify-items: center;
    }
  }

  .friends-online {
    padding: 1.3rem;
    margin-top: 0.7rem;

    h3 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }

    .all-friends {
      margin-top: 13px;
      background: var(--all-friends-bg);
      border-radius: 5px;
      padding: 1rem 2rem;
      width: 100%;

      .view-all {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;

        p {
          margin: 0;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #db242d;
          cursor: pointer;
        }
      }

      .friends-grid {
        padding: 1rem 0.8rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10rem;
        row-gap: 2.2rem;
        justify-items: center;

        .friends-grid-item {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-between;

          .picsandname {
            display: flex;
            align-items: center;
            gap: 2rem;
            img {
              width: 58.84px;
              height: 58.84px;
              object-fit: cover;
              border-radius: 50%;
            }

            div > p {
              margin: 0;
            }

            div > p:first-child {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 18.6269px;
              line-height: 31px;
            }

            div > p:last-child {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 16.7396px;
              line-height: 27px;
              color: rgba(82, 81, 81, 0.9);
            }
          }

          .online {
            border-radius: 50%;
            background: #69c40f;
            width: 11.3px;
            height: 11.3px;
          }

          .offline {
            border-radius: 50%;
            background: #595c56;
            width: 11.3px;
            height: 11.3px;
          }
        }
      }
    }
  }

  .top-streamers {
    margin: 1.5rem;
    background: var(--top-streamers-bg);
    border-radius: 12px;
    padding: 2rem;

    h3 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }

    .streamer-list {
      margin-top: 2.5rem;
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
    }
  }

  .live {
    .live-video {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0.5rem;
      img {
        height: 602px;
        object-fit: cover;
      }

      p {
        margin: 0;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        padding: 0rem 1rem;
      }
    }

    .live-profile-info {
      display: flex;
      align-items: center;
      gap: 3.5rem;
      padding: 1.5rem;

      .imgandname {
        display: flex;
        align-items: center;
        gap: 1.3rem;
        img {
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }

        .name {
          display: flex;
          flex-direction: column;
          gap: 0.3rem;

          span {
            display: flex;
            gap: 0.6rem;
            align-items: center;

            p {
              margin: 0;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 15px;
              line-height: 20px;
              color: var(--top-streamer-follower-text);
            }

            svg {
              color: #db242d;
            }
          }

          p {
            margin: 0;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 17px;
            color: rgba(172, 172, 172, 0.9);
          }
        }
      }

      button.follow-btn {
        background: #db242d;
        width: 102px;
        height: 34px;
        border-radius: 6px;
        border: none;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: #ffffff;
      }
    }

    .live-interaction {
      padding: 1.5rem;
      margin-top: 1rem;
      display: flex;
      gap: 1rem;

      .live-chat {
        width: 75%;
        background-color: var(--secondary-background);
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        padding: 1.3rem 1.3rem 3rem 1.3rem;

        h4 {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
        }

        .chat-comments {
          height: 400px;
          overflow-y: scroll;
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          position: relative;

          &::-webkit-scrollbar {
            display: none;
          }

          & > .chats {
            display: flex;
            align-items: flex-start;
            gap: 1.5rem;
            color: rgb(20, 20, 20);

            img {
              border-radius: 50%;
              width: 38px;
              height: 38px;
            }

            div {
              display: flex;
              flex-direction: column;
              gap: 0.2rem;

              & > p:first-child {
                margin: 0;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 500;
                font-size: 13.1457px;
                line-height: 17px;
                color: rgba(141, 138, 138, 0.9);
              }

              & > p:last-child {
                margin: 0;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 20px;
                color: var(--chat-text);
              }
            }
          }
        }

        .comment {
          display: flex;
          align-items: center;
          gap: 2rem;
          border: 1px solid #8d8a8a;
          border-radius: 16px;
          height: 39px;
          width: 543px;
          padding: 0rem 0.8rem;

          input {
            border: none;
            width: 95%;

            &:focus {
              outline: none;
            }

            &::placeholder {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 16px;
              color: var(--primary-text);
            }
          }

          svg {
            width: 5%;
            color: #c71f1f;
            font-size: 24px;
            cursor: pointer;
          }
        }
      }

      .live-friends {
        width: 25%;
        padding: 1.3rem 1.3rem 3rem 1.3rem;
        background: var(--feed-sidepage-bg);
        border-radius: 8px;

        .friend-menu {
          display: flex;
          align-items: center;
          justify-content: space-between;

          p {
            margin: 0;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: var(--primary-text);
          }

          svg {
            font-size: 19px;
          }
        }

        .friend-list {
          margin-top: 2.5rem;
          display: flex;
          flex-direction: column;
          gap: 2rem;

          .friends-list-item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .picsandname {
              display: flex;
              align-items: center;
              gap: 1rem;
              img {
                width: 38px;
                height: 38px;
                object-fit: cover;
                border-radius: 50%;
              }

              div > p {
                margin: 0;
              }

              div > p:first-child {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 17px;
                color: var(--primary-text);
              }

              div > p:last-child {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 500;
                font-size: 11px;
                line-height: 15px;
                color: rgba(82, 81, 81, 0.9);
              }
            }

            .online {
              border-radius: 50%;
              background: #69c40f;
              width: 9px;
              height: 9px;
              margin-right: 0.3rem;
            }

            .offline {
              border-radius: 50%;
              background: #595c56;
              width: 9px;
              height: 9px;
              margin-right: 0.3rem;
            }
          }
        }
      }
    }
  }
}
