.mycard{
    width: 10rem;
    .mb-3, .card{
        color: var(--primary--text);
        background: var(--background);
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }

    .card-body{
        padding: .5rem 1rem;
        .card-text{
            color: var(--plain-text);
            margin: 0px;
        }
    }
    .mycard-title, .mycard-btn{
        color: var(--primary--text);
    }
}