
 .mycard{
    .mb-3, .card{
        color: var(--primary);
        background: var(--background);
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }
     
    .card-body{
      
      .card-text{
            color: var(--plain-text);
        }
    }

}

@media all and (max-width: 640px) {
    .mycard{
        .card-body{
            padding-top:0.2rem;
        }
    }
}

