.store{

    .main-div{
        display: block !important;
    }

    .nft-marketplace-container{
        margin-left: 1rem;

        .nft-marketplace-content{
            // height: 190px;
            width: auto;
            display: flex;
            align-items: center;
            
    
            .marketplace-details{
                img{
                    width: 283px;
                    height: 178px;
                    border: solid 1px black;
                    margin-right: 1rem;

                    // &:first-child(0){
                    //     margin-left: 0rem;
                    // }
                }
            }
    
        }
    }

    .games-details
    .sliders {
        img{
            background: var(--secondary-background);
        }
    }
    .collectible-container{
        .sliders {
            img{
                height: 143px !important;
            }
        }
    }

}