.wallet2 {
  display: block !important;
  padding: 3rem 5rem;

  .flex-header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .balanceandtransact {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .total-balance {
        background: var(--secondary-background);
        width: 336px;
        height: 157px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;

        p {
          margin: 0;
        }

        p:first-child {
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.2px;
          color: var(--balance-text);
        }

        p:last-child {
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 30px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.2px;
        }
      }

      .sendandreceive {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6rem;

        a {
          text-decoration: none;
        }

        .send {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 6px;

          .send-icon {
            background: #c71f1f;
            border-radius: 5px;
            width: 46px;
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;

            svg {
              font-size: 23px;
            }
          }

          p {
            margin: 0;
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 140%;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.2px;
            color: var(--send-and-receive-text);
          }
        }

        .receive {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 6px;

          .receive-icon {
            background: var(--secondary-background);
            border-radius: 5px;
            width: 46px;
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              font-size: 23px;
              color: var(--balance-text);
            }
          }

          p {
            margin: 0;
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 140%;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.2px;
            color: var(--send-and-receive-text);
          }
        }
      }
    }

    .tokens {
      width: 40%;
      p:first-child {
        margin: 0;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
      }

      .token-list {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .token-coin {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .flex-coin-name {
            display: flex;
            align-items: center;
            gap: 1rem;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }

            .flex-coinrate {
              display: flex;
              flex-direction: column;
              gap: 5px;

              p {
                margin: 0;
                font-family: "Inter";
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
              }

              span.flex-percent {
                display: flex;
                align-items: center;
                gap: 3px;

                p {
                  margin: 0;
                }

                p:first-child {
                  font-family: "Inter";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 15px;
                  color: var(--rate-percent);
                }

                svg {
                  color: #5fc88f;
                }

                p:last-child {
                  font-family: "Inter";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 15px;
                  color: #5fc88f;
                }
              }
            }
          }

          .price-flex {
            display: flex;
            flex-direction: column;
            gap: 5px;

            p {
              margin: 0;
            }

            p:first-child {
              font-family: "Inter";
              font-style: normal;
              font-weight: 600;
              font-size: 15px;
              line-height: 18px;
              display: flex;
              align-items: center;
              text-align: center;
              letter-spacing: 0.2px;
            }

            p:last-child {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 15px;
              text-align: right;
              color: var(--rate-percent);
            }
          }
        }
      }
    }
  }

  .transaction-table {
    margin-top: 5rem;

    p:first-child {
      margin: 0;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
    }
  }
}

// Send Page
.send-page {
  padding: 2rem 6rem;
  display: block !important;

  .back-btn {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    svg {
      cursor: pointer;
    }

    p {
      margin: 0;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
    }
  }

  .success {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;

    p {
      margin: 0;
      text-align: center;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
    }
  }

  .enter-pin {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .show-continue-overlay {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 0rem 2rem;

    .send-details {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      div {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;

        p {
          margin: 0;
        }

        p:first-child {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: 0.2px;
          color: var(----chat-text);
        }

        p:last-child {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: 0.2px;
        }
      }
    }

    button {
      height: 29px;
      padding: 0rem 2rem;
      background: #c71f1f;
      border-radius: 5px;
      border: none;
      margin: auto;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.2px;
      color: #ffffff;
    }
  }

  .amount-box {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    .amount-max {
      display: flex;
      flex-direction: column;
      gap: 20px;

      & > p {
        margin: 0;
        text-align: center;
      }

      p:first-child {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.2px;
      }

      p:last-child {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.2px;
        color: var(--send-amount);
        display: flex;
        align-items: center;
        gap: 9px;

        .dollar-color {
          color: var(--tab-text);
        }

        .max {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0.2px;
          color: var(--tab-text);
        }
      }
    }

    .token-details {
      .wallet-address {
        display: flex;
        align-items: center;
        gap: 1rem;

        p {
          margin: 0;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.2px;
        }

        input {
          background: var(--secondary-background);
          width: 544px;
          height: 25px;
          border: none;
          border-radius: 0;

          &:focus {
            outline: none;
          }
        }
      }

      .select-token-div {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .select-token {
          display: flex;
          align-items: center;
          gap: 30rem;
          width: 100%;

          p {
            margin: 0;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.2px;
          }

          span {
            display: flex;
            align-items: center;
            gap: 5px;
            position: relative;
            cursor: pointer;

            img {
              width: 19px;
              height: 22px;
            }

            svg {
              margin-left: 4px;
            }

            .select-coin-wallet.show-coin-wallet {
              transform: scale(1) !important;
            }

            .select-coin-wallet {
              position: absolute;
              background: var(--secondary-background);
              width: 212px;
              padding: 1rem 1rem;
              z-index: 999;
              height: 97px;
              left: 90px;
              top: 0;
              display: flex;
              flex-direction: column;
              gap: 10px;
              transition: all ease-out 150ms;
              transform: scale(0);

              div {
                display: flex;
                align-items: center;
                gap: 9px;
                cursor: pointer;

                img {
                  width: 25px;
                  height: 25px;
                }

                p {
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 17px;
                  letter-spacing: 0.2px;
                }
              }
            }
          }
        }

        .available-to-send {
          display: flex;
          align-items: center;
          gap: 30rem;

          p {
            margin: 0;
          }

          p:first-child {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.2px;
          }

          p:last-child {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.2px;
          }
        }
      }
    }

    .continue-btn {
      display: flex;
      align-items: center;
      justify-content: center;

      & > button {
        background-color: #474747;
        border: none;
        border-radius: 5px;
        width: 103px;
        height: 32px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #ffffff;
      }
    }
  }
}

.receive-page {
  padding: 2rem 6rem;
  display: block !important;

  .back-btn {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    svg {
      cursor: pointer;
    }

    p {
      margin: 0;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
    }
  }

  .qr-code {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    .qr-code-container {
      width: 321px;
      height: 330px;
      background: #fff;
      padding: 1.2rem;
    }

    .copy-code {
      display: flex;
      align-items: center;
      gap: 1rem;

      p {
        margin: 0;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
      }

      svg {
        transform: rotate(270deg);
        cursor: pointer;
      }
    }
  }
}
