.sliders{

    width: 100%;
    // max-width: 900px;

    img{
        width: 300px;
        height: 250px;
    }
    .slick-next,  .slick-prev{
        top: -30px;
        right: 5%;
        background: transparent;

        &::after, &::before{
            font-size: 30px;
            width: 100px;
            height: 100px;
            display: none;
            background: none;
        }
    }
    .slick-prev{
        left: 90%;
    }
}