.socials{

    .main{
        // width: 970px;
       

        .center-container{
            margin: 0 auto;
        }

        .socials-bg{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            

            .bg-img{
                width: 100%;
                // width: 692px;
                height: 233px;
            }

                
            .profile-avatar{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                position: absolute;
                left: 50%;
                right: 50%;
                top: 50%;
                bottom: -60%;
        
                .img-profile-avatar{
                    img{
                        height: 180px;
                        width: 180px;
                        border-radius: 50%;
                    }
                    p{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                } 

            }

            .edit-profile{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 111px;
                position: absolute;
                /* top: 100%; */
                left: 64%;
                bottom: -20%;
                right: auto;
                background-color: var(--secondary-background);
                height: 27px;
                font-weight: 400;
                font-size: 13px;
                line-height: 16px;
                cursor: pointer;

                span{
                    margin-right: .7rem;
                }
            }
        }
        .social-post{
            margin-top: 8rem;
            margin-left: 1rem;

            .nav-link{
                color: var(--secondary--text);
                background-color: var(--secondary-background);
                margin-right: 1rem;
            }

            .nav-item:hover{
                border: none;
                opacity: .5;
            }

            .nav-item .active{
                border: none;
                border-bottom: red solid 4px;
            }

            #noanim-tab-example-tab-feeds{
                color: var(--secondary--text);
                background-color: none;
            }

            .nav-tabs {
                border: none;
            }
            
            .post-card-container{
                display: flex;
                // justify-content: center;
                align-items: center;

                .post-card {
                    margin: auto 1rem;
                    color: #fff;
                    img{
                        // width: 323px;
                        width: 100%;
                        height: 208px;
                    }
                                            
                    .content-body{
                        padding: 0rem .5rem;

                        .content-head-h6{
                            // font-size: 1rem;
                            font-weight: 600;
                            font-size: 15px;
                            line-height: 18px;
                        }
                        small{
                            font-size: .8rem;
                        }
                    }
                    .post-card-icons{
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;
                        font-size: 1.2rem;

                        span{
                            margin-left: 1rem;
                            color: var(--chat-option-icon);

                            &:active, &:focus, &:visited{
                                color: blue;
                            }
                        }
                    }
                }
            }

            .friendsrequest-container{
                .sliders {
                    // .chat-profile{
                    //     // margin-left: 2rem;
                    // }
                    img{
                        
                        width: 105px;
                        height: 105px ;
                    }
                }
            }
        }
    }

    .side-adverts{
        background: var(--secondary-background);
        padding: 1rem;
        .friends-social{
            margin-bottom: 2rem;
        }
        .chat-details{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 270px;
        }
            .chat-profile{
                display: flex;
                // justify-content: space-evenly;
                align-items: center;
                color: var(--chat-text);
                margin-top: .7rem;

                img{
                    width: 50px;
                    height: 50px;
                    object-fit: contain;
                    margin-right: .5rem;
                    
                }
            }
        //         p{
        //             margin-left: 1rem;
        //             font-weight: 400;
        //             font-size: 13px;
        //             line-height: 16px;
        //         }
        //         .profile-chat-title{
        //             font-size: 15px;
        //             font-weight: bolder;
        //         }
        //     }
        // }
    }
}


@media screen and (max-width: 480px){
    
    .socials{

        .main{
        
        .center-container{
            overflow: hidden;

            .socials-bg{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                

                .bg-img{
                    width: 100%;
                    // width: 692px;
                    height: 180px;
                }
                    
                .profile-avatar{
                    
            
                    .img-profile-avatar{
                        img{
                            height: 108px;
                            width: 108px;
                        
                        }
                        p{
                        font-size:1.25rem;
                        font-weight: 500;
                        }
                    } 
    
                }
    
                .edit-profile{
                    width: 100px;
                    border-radius: 3px;
                    margin-left: 14px;
                    cursor: pointer;
                    .edit-icon{
                        font-size:18px;
                    }
                    .profile-edit-text{
                        font-size:18px;
                        span{
                            display: none;
                        }
                    }
    
                    span{
                        margin-right: .7rem;
                    }
                }
            }
        }
    }

        .social-post{
            margin-top: 7rem;
            margin-left: 0rem !important;
            width: 100%;

            .nav{
                padding-left: 13px;
            .nav-link{
              //  width: 60px;
                color: var(--secondary--text);
                background-color: var(--secondary-background);
                margin-right: 1rem;
                width: auto;
                height: 40px;
                font-size: 17px;
                padding-left: 13px;
            }

            .nav-item:hover{
                border: none;
                opacity: .5;
            }

            .nav-item .active{
                border: none;
                border-bottom: red solid 4px;
                
            }

            #noanim-tab-example-tab-feeds{
                color: var(--secondary--text);
                background-color: none;
            }

            .nav-tabs {
                border: none;
            }
        }
            .post-card-container{
               
                width: 100%;
                padding-right: 0px;
                padding-left: 0;
                justify-content: center;
                .post-card {
                    margin: auto 0.25rem !important;
                    color: #fff;
                    gap: 4rem;
                    img{
                        // width: 323px;
                        width: 95% !important;
                        height: 160px;
                        object-fit: cover;
                        gap: 1rem;
                    }
                                            
                    .content-body{
                        padding: 0rem .5rem;
                        position: absolute; 
                        top:65%;
                        .content-head-h6{
                            // font-size: 1rem;
                            font-weight: 600;
                            font-size: 15px;
                            line-height: 18px;
                        }
                        small{
                            font-size: .8rem;
                        }
                    }
                    .post-card-icons{
                        display: flex;
                        justify-content: center !important;
                        align-items: center !important;
                        font-size: 16px !important;

                        span{
                            display:flex;
                            //justify-content: center;
                            align-items: center;
                            margin-left: 11px !important;
                            color: var(--chat-option-icon);

                            &:active, &:focus, &:visited{
                                color: blue;
                            }
                        }
                    }
                }
            }
    }
    .friendsrequest-container{
        .sliders {
            .chat-details{
              
             .chat-details{
                width:100%;
             }
             img {
                width: 111px !important;
                height: 121px !important;
             }
             .chatdetails{
                width:100%;
                display: flex;
                justify-content: center;
                .profile-chat-title{
                    font-size: 18px;
                }
             }
            }

        }
  }
  .side-adverts{
      padding-left: 31px !important;
    .friends-social{
        margin-bottom: 2rem;
    }

    .chat-details{
        width:100%;
    }
    .chat-profile{
        img{
            width: 70px;
            height: 70px;
                
            }
        .profile-chat-title{
            font-size:20px;
        }
        .chat-option-icon{
            font-size: 14px;
        }
}
}
}
}