.social-messenger-div{
     padding-top: 10px;
     border-top-left-radius: 18px;
     border-top-right-radius: 18px;
     .messenger-header{
       display: flex;
       justify-content: space-between;
       align-items: center;

       h5{
        font-weight: 600;
        font-size: 17.5327px;
        line-height: 21px;

        color: var(--tabs-text);
       }
      .messenger-header-left{
           display: flex;
           column-gap: 20px;
      }
     }
   
     .messages-div{
        height: 440px; 
     


        .chats-div{
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            height: 100%;

            .chat-friend-div{
                display: flex;
                column-gap: 17px;
                padding-top: 10px;

                img{
                    width: 41.71px;
                    height: 41.71px;
                    border-radius: 99999px;
                }

                .chat-detail{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0 4px 0 4px;
                    h5{
                        display: flex;
                        flex-direction: column;
                       .chat-name{
                        font-size: 14px;
                        color: (--tabs-text);
                        font-weight: 500;

                       }
                       .chat-msg{
                        font-size: 10px;
                        color: (--tabs-text);
                        font-weight: 600;

                       }
                    }

                    h5{
                        .chat-date{
                            color: (--tabs-text);
                            font-weight: 600;
                            font-size: 10px;
                        }
                        .chat-count{
                            font-weight: 600;
                            font-size: 6.29748px;
                            line-height: 8px;
                            background-color: red;
                            border-radius: 9999px;
                            text-align: center;
                            width: 13.4px;
                            height: 11.51px;
                            color: rgba(255, 255, 255, 0.8);
                        }
                    }
                }

            }
        }
     }


}