.bottom-nav{
    display: none;
    margin-bottom: 1rem;
    
    .navbar{
        background-color: yellow;
        .bottom-nav-bg{
            background-color: yellow;
        }
    }

    .bg-dark{
        background: var(--background);
        --bs-bg-opacity: none;
    }

    .navbar{
        padding-top: .5rem;
        padding-bottom: 0%;
    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        background: var(--background);
    }

    // .navbar{
    //     // height: 100px;
    //    font-family: 'Montserrat Alternates', sans-serif;
    // }

    .bottom-nav-icons{


        a, Link{
            font-size: 50px;
            color: var(--text-icon);
            list-style: none;
            text-decoration: none;
            display: block;
        }
        
        span{
            font-size: 15px;
            line-height: 15px; 
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media all and (max-width: 480px) {
    
    .bottom-nav{
        display: block;
        .bottom-nav-icons-holder{
            height: 80px;
            margin-top: 1rem;
            padding: 2rem .7rem;
            justify-content: space-around;

            .bottom-nav-icons{
        
                a, Link{
                    font-size: 1.2rem;
                    color: var(--text-icon);
                    list-style: none;
                    text-decoration: none;
                    display: block;
                    transition: color 200ms ease-in-out;
                }
                span{
                    font-size: 15px;
                    line-height: 15px; 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                a.active, Link.active{
                    color: var(--button);
                }
            }
        }
    }
}