.active{
    background-color: rgba(83, 81, 81, 0.5);
    border-right:4px solid #C71F1F ;
    transition: all 1s ease-out;
    padding-left: 2rem;
    margin-left: -2rem;
}

.unactive{
    border: none;
}