.update--container{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 4rem;
}

 label{
    display: block;
    font-size: 12px;
    padding-top: 1rem;
}


input{
    border-radius: 7px;
    width: 20rem;
    /* background-color: #0d0c0c; */
    background-color: transparent;
    border: 1px solid #9e9c9c;
    color: white;
}
textarea{
     border-radius: 7px;
    background-color: transparent;
    border: 1px solid #9e9c9c;
    color:white ;
}
.update--container h3{
    font-size: 16px;
    padding-bottom: 0.7rem;
}


.flexedInputContainer{
    display: flex;
    
}
.firstName--container{
    margin-right: 3rem;
}



.email--container input{
    width: 30rem;
    /* font-size: 10pt; */
}

.Dob--container{
    position: relative;
}
.calender--input{
    width: 12rem;
}
.calender--input::placeholder{
    font-size: 12px;
    padding-left: 0.4rem;
}

.calender--img{
    position: absolute;
    right: 42.4rem;
    bottom: 0.3rem;
    transform: scale(0.7);
}

.username_phone--group{
    display: flex;
}
.phone--container{
    background-color: transparent;
    align-items: center;
    position: relative;
    right: -3rem;
}
.phone--input{
   transform: scaleY(0.7);
  position: absolute;
   margin-right: 6rem;
}

.inputRectangle{
    transform: scaleY(0.7);
}
.img--rectangle{
    position: relative;
}

.cover--container{
    position: relative;
    background-color: #707070;
    width: 42rem;
    height: 5rem;
    margin-bottom: 2rem;
}
.cover-pic--input{
    width: 100%;
    height: 100%;
    /* padding-top: 2rem; */
    /* margin-bottom: 2rem; */
    /* background-color: #707070; */
    opacity: 0;
}

.camera{
    position: absolute;
    right: 1rem;
    top: 2rem;
    transform: scale(0.7);
}

.circular_input--container{
  position: relative;
  border: 1px solid;
  border-radius: 50%;
  height: 6rem;
  padding: 0;
  width: 6rem;
  overflow: hidden;
  background-color: #707070;
}

.circular_input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 2rem;
    transform: scaleY(1.4);
    border: 0;
    opacity: 0;
    background-color: rgb(110, 110, 102);
}
.snapImg{
    position: absolute;
    right: 2rem;
    top: 2rem;
    transform: scale(0.7);
}

/* Radio buton */
.flexedBio--container{
    position: relative;
}

.gender--container{
    right: 27rem;
   position: absolute;
   /* top: 0.04rem; */
   bottom: 0.03rem;
}
.gender--container label{
    margin-top: -0.6rem;
}
.radioBtn--container{
    display: flex;
    width: 10rem;
    border: 1px solid #FFFFFF;
    transform: scaleY(0.6);
    border-radius: 5px;
    padding-right: 0.7rem;

}
.radioBtn--container input{
    transform: scale(0.5);
    accent-color:red;
    border-color: #FFFFFF;
    
}


.btn--container{
    display: flex;
    position: absolute;
    right: 60%;
    bottom: -5rem;
}
.btn--container .cancel-btn{
    border: 1px solid #FFFFFF;
    width: 5rem;
    text-align: center;
    color: white;
    background-color: transparent;
}
.cancel-btn:hover{
    background-color: red;
}
.save-btn{
    position: absolute;
    right: 10rem;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    width: 5rem;
    color: white;
    /* margin-right: 5rem; */
}
.save-btn:hover{
    background-color: red;
}
