.select{
    .dropdown{
        // background: var(--select-background);
        button, .btn-primary{
            background: transparent;
            border: none;
            outline: none;
            color: var(--secondary);

            &.dropdown-item:hover{
                color: #fff;
                background: #C71F1F;
            }
        }
    }

    .dropdown-menu, .show{
        color: var(--secondary);
        background: var(--select-background);
        border: 1px solid var(--secondary);
        border-radius: 10px;
        max-width: 100px;
    }

    .dropdown-toggle{
        background: transparent;
        border: none;
        outline: none;
        color: var(--secondary);
    }

    .show>.btn-primary.dropdown-toggle {
        background: transparent;
        border: none;
        outline: none;
        color: var(--secondary);

        &:focus{
            box-shadow: none;
        }
    }
}