.item1 { grid-area: header; border: greenyellow solid 3px; }
.item2 { grid-area: menu; border: greenyellow solid 3px; }
// .item3 { grid-area: main;  border: greenyellow solid 3px;}
// .item4 { grid-area: right;  border: greenyellow solid 3px;}
// .item5 { grid-area: footer; border: greenyellow solid 3px;}

.grid-container {
  display: grid;
  grid-template-areas:
    'menu header header header header header'
    'menu main main main right right'
    'menu footer footer footer right right';
  gap: 10px;
  padding: 10px;
  height: 80vh;
  background: #0D0D0D;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

@media all and (max-width: 480px) {
    .grid-container {
        display: grid;
        grid-template-areas:
          'menu' 
          'main' 
          'right'
          'footer'
          'header';
        gap: 10px;
        // background-color: ;
        // padding: 10px;
        height: 200vh;
        position: relative;

        .item1{
            position: fixed;
            top: 86vh;
            width: 100%;
            z-index: 2;
            left: 0px;
        }
      }


  }