.layout-container{
    // margin-left: 16rem;

    .layout{
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        height: 100vh;
    
    
        .side-nav-bar{
            // border: solid grey 2px;
            box-sizing: border-box;
            overflow: hidden;
            flex-basis: content;
            // max-width: 260px;
            // height: 100vh;
            height: 1024px;
            max-width: 260px;
            flex-basis: auto;
            position: relative;

            .fixed-top-sidemenu {
                display: block;
                top: 0;
                // right: 0;
                left: 0;
                z-index: 1030;
                background: var(--background);
            }
        }
    
        .main-container{
            box-sizing: border-box;
            overflow: hidden;
            position: relative;
            flex: 2;
            height: 100vh;
            margin-right: .7rem;

            .mobile-nav{
                display: none;
            }

            .main-div{
                display: flex;

                .main{
                    box-sizing: border-box;
                    overflow-y: auto;
                    max-height: 85vh;
                    flex-basis: auto;
                    flex-grow: 2;
                }
            
                .side-adverts{
                    box-sizing: border-box;
                    flex-basis: content;
                    max-width: 327px;
                    height: 85.7vh;
                    background: var(--secondary-background);
                    border-radius: 12px;
                    flex-grow: 1;
                    padding: 1rem;
                }
            }

            .main-div {
                & > div{
                    display: contents;
                }
            }

        }
    }
}


@supports ( position: sticky){
    .fixed-top-sidemenu {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
    }
}

@media screen and (max-width: 480px){
    .layout-container{
        .top-nav, .side-nav-bar{
            display: none;
        }

        .main-container{
            box-sizing: border-box;
            overflow: hidden;
            position: relative;
            flex: 2 1;
            height: 100vh;
            margin-right: auto;
            overflow-y: auto;

        }
        
        .layout .main-container .main-div > div {
            display: flow-root !important;
            width: 100%;
            overflow-y: auto;
            height: 100vh;

            .side-adverts{
                // max-width: auto;
                max-width: 100%;
            }

            .sliders img {
                height: auto;
            }
        }

    }
}

@media screen and (max-width: 1025px){
    .layout-container{
        .side-nav-bar{
            display: none;
        }
        .top-nav .navbar{
            max-width: 100%;
            padding: 0;
        }

        .main-container{
            box-sizing: border-box;
            overflow: hidden;
            position: relative;
            flex: 2 1;
            height: 100vh;
            margin-right: auto;
            overflow-y: auto;

            .mobile-nav{
                display: block !important;
            }
        }
    }
}