.makepost{
    width: 100%;
    padding: 5px;
    background: #2F2F2F;
    height:187.39px;
    border-radius: 0.5rem;
     .post-div{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        .write-post{
            display: flex;
            align-items: center;
            column-gap: 30px;
            padding: 10px 10px 10px 10px;

            .post-img{
                border-radius: 9999px;
                height: 40px;
                width: 40px;
            }
            .post-text{
                width: 100%;
                padding: 10px 10px 10px 10px;
                background: #2F2F2F;
                color: white;
                border: 0;
                height: 47.59px;
            }
        }

        .publish-post{
            background: #0D0B0B;
            height: 63px;
            display: flex;
            align-items: center;
            padding: 0px 8px 0px 8px;
            justify-content: space-between;
            border-radius: 6.17773px;
            .post-attachment{
                display: flex;
                align-items: center;
               column-gap: 10px;
                width: 60%;
                padding: 0px 2px 0px 2px;
                h5{
                    display: flex;
                    align-items: center;
                    column-gap: 4px;
                 
                     span{
                        font-size:10.3px;
                     }
                }
            }

            .publish-btn{
                background: #C71F1F;
                border: 0;
                border-radius: 0.75rem;
                height:33.98px;
                font-size: 13px;
            }

        }
     }
  }



  @media screen and (max-width: 480px){
      

    .makepost{
        height:150px;
       .post-div{
          height:100%;

        .post-text{
            background: #211E1E;


        }
       }
 

        .publish-post{
            background: #0D0B0B;
             .post-attachment{
                column-gap: 4px;
                 width: 70% !important;

                 h5{
                    font-size:10px !important;
                    color: rgba(140, 134, 134, 0.6);
                    span{
                        font-size:7px !important;
                        font-weight: 500;
                        color: rgba(140, 134, 134, 0.6);
                     }
                 }
             }

            .publish-btn{
                width: 84px;
                height: 20px !important;
                justify-content: center;
                font-weight: 600;
                font-size: 9px !important;
                display: flex;
                align-items: center;
            }


        }

    }

  }
