.social-profile{
    width: 100%;

    .mobilesocialtab{
        display: none;
    }

    .profile-feeds{
        width: 100%;
        display: flex;
        padding-top: 20px;
        column-gap:20px;
        .profile-contents{
            width: 60%;
            display: flex;
            height: 100vh;
            flex-direction: column;
            overflow-y: scroll;
         
           

        }

        .profile-sidepage{
            width: 35%;
            display: flex;
            height: 100vh;
            flex-direction: column;
            overflow-y: scroll;
            row-gap: 40px;
            position: relative;
        }
    }

}



@media screen and (max-width: 480px){

   .social-profile{
    .mobilesocialtab{
        display: block;
    }

    .profile-feeds{
        width: 100%;
        display: flex;
        flex-direction: column;

     .profile-contents{
        width: 100%;

     }


     .profile-sidepage{

        display: none;
     }

    }




   }

}