.notifications {
  .notifications-content {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    margin: 0 0.5rem 0.5rem 0.5rem;

    .left-section {
      flex: 3;

      .header {
        background-color: var(--ash--background);
        padding: 13px 16px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

        .header-text {
          color: var(--notifications--text);
          font-size: 18px;
          font-weight: 700;
          line-height: 22px;
          padding: 0px;
          margin: 0px;
        }
      }

      & > .empty-data {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        text-align: center;
        margin-top: 2rem;

        @media (max-width: 800px) {
          font-size: 12px;
        }
      }

      .left-body:last-child {
        border-bottom: 2px solid var(--notification--card--border);
      }

      & > .load-more-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;

        button {
          background-color: #db242d;
          color: #fff;
          border-radius: 8px;
          border: none;
          padding: 0.5rem 0.7rem;
          font-weight: 500;
          font-size: 14px;

          @media (max-width: 800px) {
            font-size: 12px;
            padding: 0.5rem;
          }
        }
      }
    }

    .right-section {
      flex: 1;
    }
  }
}

// Media Queries
@media screen and (max-width: 800px) {
  .notifications {
    .notifications-content {
      width: 95%;
      margin: auto;
      flex-direction: column;

      .left-section {
        width: 100%;
        .header {
          background-color: var(--mobile-titlebar);
          .header-text {
            font-size: 9.16667px;
            color: var(--primary-text);
          }
        }
      }
    }

    .right-section {
      display: none;
    }
  }
}
