.details-card-container{
    .details-card-holder{

        .details-card{
            .details-card-banner{
                position: relative;
                max-height: 350px;
                img{
                    width: 100%;
                    max-height: 350px;
                    height: auto;
                    opacity: 0.8;
                    max-width: 900px;
                    object-fit: cover;
                }
                .btn-play{
                    position: absolute;
                    left: 50px;
                    bottom: 10px;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 27px;
                    width: 131px;
                    height: 44px;
                    border-radius: 15px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    text-transform: capitalize;
                }
                .title{
                    position: absolute;
                    left: 50px;
                    bottom: 50px;
                    font-weight: 400;
                    font-size: 80px;
                    line-height: 93px;
                    color: #C8C6C6;   
                    text-transform: uppercase; 
                    background-color:#1c1c1ca1;
                    display: table;
                    max-width: 700px;
                    padding: 10px;
                    transition: all 1000ms ease-in-out;  
                }

                @media  screen and (max-width: '480px'){
                    .btn-play, .title{
                        left: 10px;
                        padding: 0 10px; 
                    }
                    .title{
                        font-weight: 700;
                        font-size: 24px; 
                        line-height: 1.5;
                    }
                    img{
                        max-height: auto; 
                        width: 100%; 
                        max-height: 350px;
                        object-fit: fill;
                    }
                }
            }

            .details-card-body{
                // padding: 20px;
                font-size: initial;

                .topic{
                    font-size: 1.3rem;
                    font-weight: 700;
                    color: white;
                    margin-top: .4rem;
                }

                p{
                    margin-bottom: 0;
                }
            }
        }
    }
}