.announcement-carousel{

    .carousel {
        height: 371px;
        width: 100%;
        position: relative;
    }

    .carousel-inner{
        height: 371px;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
    }

    .carousel-item{
        position: relative;
        float: left;
        width: 100%;
        margin-right: -100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: transform .6s ease-in-out;
        border-radius: 12px;
        height: 371px;
        width: 100%; 
        background-color: rgba(0,0,0,0.5);

        img{
            width: 100%;
            height: auto;
            object-fit: fill;
            filter: grayscale(30%);
            background-color: rgba(0,0,0,0.5);
            opacity: .7;

            @media  screen and (max-width: '480px') {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .carousel-caption{
        left: 12%;
        right: 10%;
        text-align: start;
        // background-color:#1c1c1ca1;
        // display: table;
        // max-width: 700px;
        .carousel-caption-holder{
            background-color:#1c1c1ca1;
            display: table;
            padding: .7rem .7rem 0;
            margin-bottom: .6rem;
        }
        
        .btn{
            width: 79px;
            font-size: 1rem;
        }

        .btn-primary {
            color: #fff;
            border-color:  transparent;
            background: #1FBDC7;
            border-radius: 10px;
        }
    }
}