.top-nav{
    position: relative;
    background: #0D0D0D;
    margin-bottom: 7rem;

    .navbar{
        height: 110px;
        position: fixed;
        top: auto;
        // left: 260px;
        left: auto;
        right: auto;
        z-index: 999;
        background: #0D0D0D;
        color: #FBFBFB;
        // width: 80%;

        .navbar-nav, .Tab .nav-link, Link, a{
            color: #FBFBFB;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
        }

        .Tab .nav-link{
            color: #FBFBFB;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
        }


        .nav-link.active{
            background: #C71F1F;
            border: transparent;
        }
    }
}