html{
    --primary: #161515;
    // --background: #E5E5E5;
    --background: #fff;
    --button: #C71F1F;
    --secondary: var(--primary);
    --secondary-background: #EEECEC;
    --live-btn: #1BB04A;
    --text-field: #7AC231;
    --chat-text: rgba(22, 21, 21, 0.7);
    --color-icon: rgba(22, 21, 21, 0.6);
    --text-icon: rgba(22, 21, 21, 0.8);
    --input-background: #EEECEC;
    --active-text: #FBFBFB;
    --plain-text: rgba(22, 21, 21, 0.8);
    --winner-post: rgba(0, 0, 0, 0.2);
    --chat-option-icon: #161515;
}
html[data-theme='dark']{
    --primary: #fff;
    --background: #0D0D0D;
    --button: #C71F1F;
    --secondary: #FBFBFB;
    --secondary-background : #141414;
    --live-btn: #1BB04A;
    --text-field: #7AC231;
    --chat-text: rgba(255, 255, 255, 0.7);
    --color-icon: rgba(235, 235, 245, 0.6);
    --text-icon: #ebebf5;
    --input-background: #2F2F2F;
    --active-text: #FBFBFB;
    --plain-text: #ebebf599;
    --winner-post: rgba(196, 196, 196, 0.1);
    --chat-option-icon: #C4C4C4;
}