.item1 { grid-area: header; border: greenyellow solid 3px; }
.item2 { grid-area: menu; border: greenyellow solid 3px; }
// .item3 { grid-area: main;  border: greenyellow solid 3px;}
// .item4 { grid-area: right;  border: greenyellow solid 3px;}
// .item5 { grid-area: footer; border: greenyellow solid 3px;}

.grid-container {
  display: grid;
  grid-template-areas:
    'menu header header'
    'menu main right'
    'menu main right';
  gap: 10px;
  padding: 10px;
  // height: 100vh;
  height: 1024px;
  background: var(--background);
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1{

  background-color: aqua;
  margin-bottom: 5rem;
  position: relative;

  // .top-nav{
  // }
}
.item4{
  background-color: aqua;
}

@media all and (max-width: 480px) {
    .grid-container {
        display: grid;
        grid-template-areas:
          'menu' 
          'main' 
          'right'
          'footer'
          'header';
        gap: 10px;
        // background-color: ;
        // padding: 10px;
        height: 200vh;
        position: relative;

        .item1{
            position: fixed;
            top: 86vh;
            width: 100%;
            z-index: 2;
            left: 0px;
        }

        .item4{
          display: none;
        }
      }


  }